{% load static %}
{% load mathfilters %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Can Your Computer Run This LLM?</title>
    <link rel="stylesheet" href="{% static 'System/css/home_styles.css' %}">
    <script>
      window.llmMapping = {{ llm_choices_json|safe }};
    </script>
  </head>
  <body>
    <h1>Can YOUR computer run THIS Large Language Model?</h1>
    <form method="post">
      {% csrf_token %}
      <div class="card-container">
        <div class="card model-config">
          <h2>Enter Model Configuration</h2>
          <p>
            It's okay if you don't have all the details about the model. Only the number of
            <strong>parameters</strong> and the <strong>quantization level</strong> are essential.
            For a more precise calculation, refer to the config.json file on the model's Hugging Face page.
            Switch from simple to advanced mode for a more detailed estimation. <br><br>
          </p>
          <table>
            <tr>
              <th>Calculation Mode</th>
              <td>{{ form.configuration_mode }}</td>
            </tr>
            <tr>
              <th>Predefined Model</th>
              <td>{{ form.selected_llm }}</td>
            </tr>
            <tr>
              <th>Model Parameters</th>
              <td>{{ form.parameters_model }}</td>
            </tr>
            <tr>
              <th>Quantization Level</th>
              <td>{{ form.quantization_level }}</td>
            </tr>
          </table>
          <div id="advanced-fields">
            <table>
              <tr>
                <th>Context Window</th>
                <td>{{ form.context_window }}</td>
              </tr>
              <tr>
                <th>KV Cache Quantization</th>
                <td>{{ form.cache_bit }}</td>
              </tr>
              <tr>
                <th>Number of Attention Heads</th>
                <td>{{ form.num_attention_heads }}</td>
              </tr>
              <tr>
                <th>Number of Key-Value Heads</th>
                <td>{{ form.num_key_value_heads }}</td>
              </tr>
              <tr>
                <th>Hidden Size</th>
                <td>{{ form.hidden_size }}</td>
              </tr>
              <tr>
                <th>Number of Hidden Layers</th>
                <td>{{ form.num_hidden_layers }}</td>
              </tr>
            </table>
          </div>
          <div class="button-container">
            <div style="display: flex; align-items: center; gap: 15px; flex-wrap: wrap;">
              <button type="submit" name="run_check" value="true">Can I Run It?</button>
            </div>
          </div>
        </div>
        <div class="card system-info">
          <h2>System Information</h2>
          <ul class="info-list">
            {% if system_info %}
              <li><strong>Operating System:</strong> {{ system_info.os }}</li>
              <li><strong>Processor:</strong> {{ system_info.cpu_name }}</li>
              <li><strong>CPU Cores:</strong> {{ system_info.cpu_cores }}</li>
              <li><strong>RAM:</strong> {{ system_info.ram }}</li>
              {% if system_info.gpus %}
                {% for gpu in system_info.gpus %}
                  <li><strong>GPU:</strong> {{ gpu.name }}</li>
                  <li><strong>VRAM:</strong> {{ gpu.memory_total }}</li>
                {% endfor %}
              {% else %}
                <li>No GPU information available.</li>
              {% endif %}
            {% else %}
              <p>
                Enter your <strong>GPU VRAM</strong> and <strong>RAM</strong> details to determine which models are compatible with your system.
                Enter your <strong>GPUs</strong> and <strong>RAMs</strong>
                <strong>bandwidth</strong> to calculate the tokens per second. <br><br>
              </p>
            {% endif %}
          </ul>
          <table>
            <tr>
              <th>System RAM (GB)</th>
              <td>{{ form.ram }}</td>
            </tr>
            <tr>
              <th>RAM Bandwidth (GB/s)</th>
              <td>{{ form.ram_bandwidth }}</td>
            </tr>
            <tr>
              <th>GPU VRAM (GB)</th>
              <td>{{ form.gpu_vram }}</td>
            </tr>
            <tr>
              <th>GPU Bandwidth (GB/s)</th>
              <td>{{ form.gpu_bandwidth }}</td>
            </tr>
          </table>
          <p style="margin-bottom:15px;">
            <strong>Click on the button below</strong> to see which models your system can run.
          </p>
          <br><br>
          <div class="button-container">
            <form method="post">
              {% csrf_token %}
              <button type="submit" name="stop_light_chart" value="true">
                Stoplight chart
              </button>
            </form>
          </div>
        </div>
        <div class="card results {% if can_run_result == 1 %}result-green{% elif can_run_result == 2 %}result-orange{% elif can_run_result == 3 %}result-red{% else %}result-default{% endif %}">
          <h2>Results</h2>
          {% if vram %}
            {% if can_run_result %}
              <span style="font-size: 1.2em;
                           color: {% if can_run_result == 1 %}green{% elif can_run_result == 2 %}orange{% elif can_run_result == 3 %}red{% else %}black{% endif %};">
                {% if can_run_result == 1 %}
                  <br>
                  <p style="color: #4CAF50;"><b>Model fits in the VRAM</b></p>
                  <br>
                  <p style="color: black;">Your system meets the necessary requirements and should run the model without issues.</p>
                  <br>
                  <p style="color: black;">Memory Required: <strong>{{ vram }} GB</strong></p>
                  {% if form.configuration_mode.value == "advanced" %}
                    <br>
                    <p style="color: black;">Estimated Model Weights: <strong>{{ mode_weight }} GB</strong></p>
                    <br>
                    <p style="color: black;">Estimated KV Cache: <strong>{{ kv_cache }} GB</strong></p>
                    <br>
                    <p style="color: black;">Estimated Cuda Buffer: <strong>{{ cuda_buffer }} GB</strong></p>
                    <br>
                    <p style="color: black;">Estimated VRAM Required: <strong>{{ vram }} GB</strong></p>
                  {% endif %}
                  {% if tks %}
                    <br>
                    <p style="color: black;">Speed: <strong>{{ tks }} tk/s</strong></p>
                    <br>
                  {% endif %}
                {% elif can_run_result == 2 %}
                  <br>
                  <p style="color: #FF7B00;"><b>Partial offload</b></p>
                  <br>
                  <p style="color: black;">Because your VRAM and RAM are shared, you may experience slower inference performance.</p>
                  <br>
                  <p style="color: black;">Memory Required: <strong>{{ vram }} GB</strong></p>
                  {% if tks %}
                    <br>
                    <p style="color: black;">Speed: <strong>{{ tks }} tk/s</strong></p>

                  {% endif %}
                  {% if form.configuration_mode.value == "advanced" %}
                    <br>
                    <p style="color: black;">Estimated Model Weights: <strong>{{ mode_weight }} GB</strong></p>
                    <br>
                    <p style="color: black;">Estimated KV Cache: <strong>{{ kv_cache }} GB</strong></p>
                    <br>
                    <p style="color: black;">Estimated Cuda Buffer: <strong>{{ cuda_buffer }} GB</strong></p>
                    <br>
                    <p style="color: black;">Estimated VRAM Required: <strong>{{ vram }} GB</strong></p>
                  {% endif %}
                  <br>
                  <p style="color: black;">GPU Share: <strong>{{ 100|sub:offload_ratio }} %</strong></p>
                  <progress id="gpu-load" class="progress-orange" value="{{ 100|sub:offload_ratio }}" max="100"></progress>
                  <br><br>
                  <p style="color: black;">RAM Share: <strong>{{ offload_ratio }} %</strong></p>
                  <progress id="ram-load" class="progress-orange" value="{{ offload_ratio }}" max="100"></progress>

                {% elif can_run_result == 3 %}
                  <br>
                  <p style="color: #E12C2C"><b>Not runnable</b></p>
                  <br>
                  <p style="color: black;">The model's memory requirements exceed the capacity of both your system's RAM and GPU.</p>
                  <br>
                  <p style="color: black;">Memory Required: <strong>{{ vram }} GB</strong></p>
                {% else %}
                  No decision.
                {% endif %}
              </span>
            {% endif %}
          {% endif %}
          {% if error %}
            <p style="color: red;">Could not fetch data</p>
          {% endif %}
        </div>
      </div>
    </form>

  <!-- Footer -->
    <footer>
      <p>&copy; made by Jordi Buscaglia.<br />
        <a href="https://github.com/Jordi577/CanIRunThisLLM" target="_blank">https://github.com/Jordi577/CanIRunThisLLM</a>
      </p>
    </footer>

    <script src="{% static 'System/js/home.js' %}"></script>

  </body>
</html>